html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /*color-scheme: dark;*/
  }
  body {
    color: black;
  }
}

@font-face {
  font-family: "AvenirLTStd-Book";
  font-display: auto;
  src: url("/fonts/avenir/AvenirLTStd-Book.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AvenirLTStd-Black";
  font-display: auto;
  src: url("/fonts/avenir/AvenirLTStd-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  font-display: auto;
  src: url("/fonts/avenir/AvenirLTStd-Roman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "CooperHewitt-Medium";
  font-display: auto;
  src: url("/fonts/cooper-hewitt/CooperHewitt-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue-Regular";
  font-display: auto;
  src: url("/fonts/bebas_neue/BebasNeue-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Segoe-UI-Bold";
  font-display: auto;
  src: url("/fonts/segoe-ui/Segoe-UI-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Segoe-UI";
  font-display: auto;
  src: url("/fonts/segoe-ui/Segoe-UI.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("/fonts/montserrat/Montserrat.ttf") format("opentype");
  font-display: swap;
}
